.main-content-wrapper .products-catagories-area {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 320px);
  flex: 0 0 calc(100% - 320px);
  width: calc(100% - 320px);
  max-width: calc(100% - 320px);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content-wrapper .products-catagories-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 280px);
    flex: 0 0 calc(100% - 280px);
    width: calc(100% - 280px);
    max-width: calc(100% - 280px);
  }
}

@media only screen and (max-width: 767px) {
  .main-content-wrapper .products-catagories-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.mat-card {
  padding: 0px 0px 16px 0px;
}

.mat-card-image {
  margin-left: 0px;
}

.mat-card-custom img {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.mat-card-custom img:hover {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}

.mat-card-header .mat-card-title {
  font-size: 15px;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.mat-card-actions {
  margin-left: inherit;
  padding: 0px 8px;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 10px;
}