<!--The content below is only a placeholder and can be replaced.-->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <div class="row">
        <div class="col-xs-3 d-none d-sm-block col-md-3">
            <sidebar></sidebar>
        </div>
        <!-- Header Area End -->
        <div class="col-xs-9 col-md-9">
            <app-home></app-home>
        </div>
    </div>
</div>
<newsletter></newsletter>
<app-footer></app-footer>
<!-- ##### Main Content Wrapper End ##### -->
<router-outlet></router-outlet>