<svg-definitions></svg-definitions>
<!--The content below is only a placeholder and can be replaced.-->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <top-navbar></top-navbar>

    <!-- Header Area Start -->
    <div class="container-fluid">
        <div class="row row-rm-bs-m15">
            <div class="col-xs-3 d-none d-sm-block col-md-3">
                <sidebar></sidebar>
            </div>
            <!-- Header Area End -->
            <div class="col-xs-9 col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<tab-navbar></tab-navbar>
<!-- ##### Main Content Wrapper End ##### -->