<div class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="index.html"><img src="assets/img/Logo/logo-with-scent-icon/scent-vaali-square-larger-text.png"
                alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li *ngFor="let link of linksToShow; let i = index" [ngClass]="{active: i === 0}">
                <a [href]="link.url">{{link.text}}</a>
            </li>
        </ul>
    </nav>
    <!-- Button Group -->
    <div class="amado-btn-group mt-30 mb-100">
        <a *ngFor="let link of promotionalButtonsToShow; let i = index" [href]="link.url" class="btn amado-btn"
            [ngClass]="{
                active: (i+1) === defaultActivePromotionButton,
                'mb-15': i < promotionalButtonsToShow.length}">
            {{link.text}}
        </a>
    </div>
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a *ngFor="let link of quickLinksToShow" [href]="link.url" [ngClass]="link.cssClass">
            <img [src]="link.imageUrl" />{{link.text}}
        </a>
    </div>
    <!-- Social Button -->
    <div class="social-info justify-content-between">
        <div *ngFor="let profile of socialProfiles" class="social-media-icon">
            <a [href]="profile.url">
                <!-- <i class="{{profile.iconClass}} fa-2x"></i> -->
                <div *ngIf="!!profile.hasIconImage; then imageTemplate else svgTemplate"></div>
                <ng-template #svgTemplate>
                    <svg-icon [name]="profile.svgIconId" [style]="{ height: '40px', width:'40px' }">
                    </svg-icon>
                </ng-template>
                <ng-template #imageTemplate>
                    <img [src]="profile.iconImageName" height="40px" width="40px">
                </ng-template>
            </a>
        </div>
    </div>
</div>