<section id="about" class="ftco-section ftco-no-pb ftco-no-pt">

    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="heading-section mb-4 mt-md-5 text-center">
                <h1 class="big">About</h1>
                <span class="subheading">About Us</span>
                <h2 class="mb-4">A World Class Soapworks and Scent Company</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row video-row" *ngFor="let video of videos">
            <div class="col-md-6 d-flex">
                <iframe width="560" height="315" [src]="video.FullUrl" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate fadeInUp ftco-animated">
                <div class="pb-md-5" [innerHtml]="video.Description">
                </div>
            </div>
        </div>
    </div>
</section>